<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  
  <div id="container">
    <div id="topNav">
      <a href="/index" class="button">Home Page</a>
    </div>
    
    <div id="content" class="flex">
      <div id="questionsContainer">
        <a id="newQuestion" href="../newquestion" class="button">Add Question</a>

        <ul id="questionsList">
          <% questions.forEach(function(q) { %>
          <li class="question"><a href="/admin/<%= q.id %>"> <%= q.title %> </a></li>
          <% }); %>
        </ul>
      </div>

      <div id="currentQuestionContainer">
        <% if(!currentQuestion) { %>
          <div id="questionTitle">
            Question does not exist
          </div>
        <% }else { %>
          <div id="questionTitle">
            <%= currentQuestion.title %>
          </div>
          <ul id="answersAndCountsContainer">
            <% currentQuestion.answers.forEach(function(a) { %>
              <li class="answerAndCount"><%= a.title %>
                <span class="count"><%= a.count %></span>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </div>
      
    </div>

  </div>

</body>
</html>
