<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  
  <div id="container">
    <div id="topNav">
      <a href="mainscreen.html" class="button">Home Page</a>
    </div>
    
    <div id="content" class="flex">
      <div id="questionsContainer">
        <a id="newQuestion" href="newquestion.html" class="button">Add Question</a>

        <ul id="questionsList">
          <% questions.forEach(function(q) { %>
            <li><%= q.title %></li>
          <% }); %>
        </ul>
      </div>

      <div id="currentQuestionContainer">
        <div id="questionTitle">
          Question 1 is this here? more text bigger title
        </div>
        <ul id="answersAndCountsContainer">
          <ul class="answerAndCount">Answer 1 <span class="count">20 (70%)</span></ul>
          <ul class="answerAndCount">Answer 2 <span class="count">5 (20%)</span></ul>
          <ul class="answerAndCount">Answer 3 <span class="count">10 (10%)</span></ul>
          <ul class="answerAndCount">Answer 4 <span class="count">0 (0%)</span></ul>
        </ul>
      </div>
      
    </div>
      
    <h2>Question List</h2>

    <ul>
        <% questions.forEach(function(q) { %>
          <li><%= q.id %> - <%= q.title %></li>
          <ul>
            <% q.answers.forEach(function(a) { %>
              <li><%= a.id %> - <%= a.title %></li>
            <% }); %>
          </ul>
        <% }); %>
    </ul>

  </div>

</body>
</html>
