<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  
  <div id="container">
    <div id="topNav">
      <a href="/index" class="button">Home Page</a>
    </div>
    
    <div id="content" class="flex">
      <div id="questionsContainer">
        <a id="newQuestion" href="newquestion.html" class="button">Add Question</a>

        <ul id="questionsList">
          <% questions.forEach(function(q) { %>
            <li class="question"><%= q.title %></li>
          <% }); %>
        </ul>
      </div>

      <div id="currentQuestionContainer">
        <% if(!currentQuestion) { %>
          <div id="questionTitle">
            Question does not exist
          </div>
        <% }else { %>
          <div id="questionTitle">
            <% currentQuestion.title %>
          </div>
          <ul id="answersAndCountsContainer">
            <% currentQuestion.answers.forEach(function(a) { %>
              <li class="answerAndCount"><%= a.title %></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
      
    </div>
      
    <h2>Question List</h2>

    <ul>
        <% questions.forEach(function(q) { %>
          <li><%= q.id %> - <%= q.title %></li>
          <ul>
            <% q.answers.forEach(function(a) { %>
              <li><%= a.id %> - <%= a.title %></li>
            <% }); %>
          </ul>
        <% }); %>
    </ul>

  </div>

</body>
</html>
